{
  "presets": ["next/babel"],
  "plugins": [
    [
      "transform-assets",
      {
        "extensions": ["txt", "svg", "png"],
        "regExp": ".*/static/(.+)",
        "name": "/static/[1]?[sha512:hash:base64:7]"
      }
    ],
    ["react-css-modules",
      { 
        "generateScopedName" : "[name]__[local]___[hash:base64:5]",
        "exclude": "node_modules",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }]
  ]
}